.main{
    .left{
        text-align: left;
    }
    .right{
        float: right;
    }
    .actionbuttons{
        margin: 0px 10px 0px;
    }
    .textleft{
        text-align: left;
    }
    .act{
        background-color: #17a2b8!important;
        color: white!important;
        a{
            color: white;
        }
    }    
    .white{
        color: white;
    }
    .badge{
        background-color: #484848!important
    }
}
.title{
text-align: center;
}